name: Build and Test

on:
    pull_request:
        paths:
            - "packages/vision/**"

jobs:
    build:
        name: Build and test code

        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: packages/vision

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest

            - name: Install packages
              run: bun install

            - name: Build code
              run: bun run build

            - name: Test
              run: bun run test:ci
